<template>
  <layout>
    <template #appTitle>
      {{ dictionary.pageTitleSettings }}
    </template>

    <ion-item>
      <ion-select
        v-model="langCode"
        :label="dictionary.pageSettingsLanguageSelector"
        @ion-change="onLanguageChange"
      >
        <ion-select-option
          v-for="(language, index) in languages"
          :key="index"
          :value="language.code"
        >
          {{ language.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <div class="settings-item-api">
        <form-input
          :value="apiAddress"
          @update="(v) => (apiAddress = v)"
        >
          {{ dictionary.pageSettingsInputApiAddress }}
        </form-input>

        <form-input
          :value="apiCreds"
          @update="(v) => (apiCreds = v)"
        >
          {{ dictionary.pageSettingsInputApiCreds }}
        </form-input>
        <br>

        <ion-button
          expand="block"
          @click="saveApiInfo"
        >
          {{ dictionary.btnSave }}
        </ion-button>
      </div>
    </ion-item>

    <!--   <ion-item>
      {{ dictionary.pageSettingsScanEnable }}
      <ion-toggle
        slot="end"
        justify="end"
        :checked="canCameraScan"
        @ion-change="() => changeEnableCameraScan()"
      />
    </ion-item>
--> 

    <ion-item>
      {{ dictionary.pageSettingsToogleDark }}
      <ion-toggle
        slot="end"
        justify="end"
        :checked="paletteToggle"
        @ion-change="(e) => toggleDarkPalette(e.detail.checked)"
      />
    </ion-item>

    <!-- <ion-item>
      {{dictionary.pageSettingsChangeFontSize}}
      <minus-plus @decrement="()=>changeFont(false)" @increment="()=>changeFont(true)"/>
    </ion-item> -->

    <ion-text class="app-version">
      {{ dictionary.pageSettingsAppVersion }}:
      {{ appVersion || dictionary.dataNotAvailable }}
    </ion-text>

    <ion-loading
      :message="dictionary.pageSettingsApiChecking"
      :is-open="loading"
    />
  </layout>
</template>
<script setup>
// import MinusPlus from '../components/MinusPlus.vue'
import Layout from '@/Layout.vue';
import { useTranslator } from '@/libs/Translator';
import {
  IonButton,
  IonToggle,
  IonItem,
  IonText,
  IonSelect,
  IonSelectOption,
  onIonViewDidEnter,
  IonLoading
} from '@ionic/vue';
import { ref } from 'vue';
import { App } from '@capacitor/app';
import { useStorage } from '@/libs/LocalStorage';
import { showToast } from '@/libs/Toast';
import { env } from '@/libs/envs';
import {FormInput} from '@/components/atoms';
// import { useCameraScan } from '@/libs/Scanner';
import { useDarkTheme } from '@/libs/DarkTheme';
import { useApi } from '@/hooks/useApi';
import { ApiRequest } from '@/models/ApiRequest';

const { dictionary, langCode, langCodes, translator } = useTranslator();
const storage = useStorage();
// const { canCameraScan, setCanCameraScan } = useCameraScan();
const { paletteToggle, toggleDarkPalette } = useDarkTheme();

const appVersion = ref();
// TODO: is "ref" necessary?
const languages = ref([langCodes.PL, langCodes.EN]);
const apiCreds = ref('');
const apiAddress = ref('');
const fontSize = ref(0);
const loading = ref(false);

onIonViewDidEnter(async () => {
  fontSize.value = await storage.service.get(storage.keys.fontSize);
  apiAddress.value = await storage.service.get(storage.keys.api);
  apiCreds.value = await storage.service.get(storage.keys.apiKey);
  try {
    const appInfo = await App.getInfo();
    appVersion.value = appInfo.version || dictionary.dataNotAvailable;
  } catch (err) {
    // eslint-disable-next-line no-console
    console.error(err.message);
  }
});

// async function changeEnableCameraScan() {
//   const newVal = !canCameraScan.value;
//   setCanCameraScan(newVal);
//   await storage.service.set(storage.keys.cameraScan, newVal);
//   await showToast(
//     newVal ? dictionary.value.pageSettingsScanEnabled : dictionary.value.pageSettingsScanDisabled
//   );
// }

async function onLanguageChange() {
  await translator.setLanguage(langCode.value);
}

async function saveApiInfo() {
  if (!apiCreds.value || !apiAddress.value) {
    await showToast(dictionary.value.pageSettingsErrorApiCreds);
    return;
  }

  if(!apiAddress.value.startsWith('http://') && !apiAddress.value.startsWith('https://')){
    apiAddress.value = `http://${apiAddress.value}`
  }

  loading.value = true;

  await storage.service.set(storage.keys.api, apiAddress.value);
  await storage.service.set(storage.keys.apiKey, apiCreds.value);

  await useApi(new ApiRequest('GET', env.API_ROUTE_CHECK), async () => {
    await showToast(dictionary.value.pageSettingsApiInfoSuccessSave);
  });

  loading.value = false;
}

// /** @param {boolean} increase */
// async function changeFont(increase){
//   if(increase && fontSize.value <= 1){
//     fontSize.value++;
//   } else if(fontSize.value > 0) {
//     fontSize.value--;
//   }

//   const body = document.getElementsByTagName('body')[0]
//   switch(fontSize.value){
//   case 0: body.style.fontSize = '0.9rem'; break;
//   case 1: body.style.fontSize = '0.95rem'; break;
//   case 2: body.style.fontSize = '1rem'; break;
//   }

//   await storage.service.set(storage.keys.fontSize, fontSize.value)
// }
</script>

<style scoped>
.app-version {
  position: absolute;
  bottom: 20px;
  top: auto;
}
.settings-item-api {
  width: 100%;
}
</style>

