<script setup>
import Layout from '@/Layout.vue';
import { IonButton, IonLoading, IonList, IonItem, IonLabel } from '@ionic/vue';
import {pageController} from './pageController'
import {FormInput} from '@/components/atoms'

const {
  dictionary,
  docNumber,
  docNumberError,
  loading,
  records,
  submit,
  updateDocNumber
} = pageController()

</script>

<template>
  <layout>
    <template #appTitle>
      {{ dictionary.pageTitleDocDetails }}
    </template>

    <form-input
      id="document-number"
      :autofocus="true"
      :value="docNumber"
      :capitalize="true"
      :error="docNumberError"
      @update="
        (v) => updateDocNumber(v)
      "
      @submit="() => submit()"
    >
      {{ dictionary.pageDocFormInput }}
    </form-input>

    <ion-list :inset="true">
      <ion-item
        v-for="(record, index) in records"
        :key="index"
      >
        <ion-label style="font-size: 1.1rem">
          {{ record }}
        </ion-label>
      </ion-item>
    </ion-list>

    <template #footer>
      <div style="width: 7rem;" />
      <ion-button @click="submit">
        {{ dictionary.pageDocFetch }}
      </ion-button>
      <ion-button
        :disabled="!docNumber"
        @click="updateDocNumber('')"
      >
        {{ dictionary.btnClear }}
      </ion-button>
    </template>
    <ion-loading
      :message="dictionary.pageDocFetching"
      :is-open="loading"
    />
  </layout>
</template>
