<!-- TODO: deleting with modal -->

<script setup> 
import {
  IonLoading,
  IonButton,
  IonList,
  IonItem,
} from '@ionic/vue';
import Layout from '@/Layout.vue';
import {pageController} from './pageController'
import { Counter, LabeledData } from '@/components';

const {
  dictionary,
  worker,
  items,
  loading,
  fetching,
  add,
  clearItem,
  openEditModal,
  canSendItems,
  submit,
  goBack
} = pageController()

</script>

<template>
  <layout>
    <template #functionalButton>
      <ion-button
        class="app-primary-outline-contrast"
        @click="goBack"
      >
        {{ dictionary.btnBack }}
      </ion-button>
    </template>
    <template #title>
      {{ dictionary.pageTitleList }}
    </template>
    <template #rightTopButton>
      <ion-button
        class="app-primary-outline-contrast"
        @click="add"
      >
        {{ dictionary.btnAdd }}
      </ion-button>
    </template>

    <div class="listpage-headerinfo">
      <span>
        {{ dictionary.pageListDocument }}
        {{ worker.docNumber }}
      </span>
      |
      <span>
        {{ dictionary.pageLoginUserCode }}
        {{ worker.userCode }}
      </span>
    </div>

    <div class="listpage-header">
      <div class="listpage-counter">
        {{ dictionary.pageListCount }}
        <counter 
          :current="items.reduce((partial, item) => partial + item.scanned, 0)" 
          :total="items.reduce((partial, item) => partial + item.planToScan, 0)"
        />
      </div>
    </div>

    <ion-list lines="inset">
      <ion-item
        v-for="(item, index) in items"
        :key="index"
      >
        <div :class="`listpage-item ${item.planToScan > -1 && item.scanned !== item.planToScan ? 'danger' : ''}`">
          <labeled-data
            :label="dictionary.pageStorageProductCode"
            font-size="lg"
          >
            {{ item.productCode }}
          </labeled-data>
          <span>
            {{ item.description ? item.description : '---' }}
          </span>
          <labeled-data
            :label="dictionary.pageStoragePlaceCode"
            font-size="lg"
          >
            {{ item.placeCode }}
          </labeled-data>
          <div>
            <labeled-data :label="dictionary.pageStorageCount">
              <counter
                :current="item.scanned"
                :total="item.planToScan"
              />
            </labeled-data>
          </div>
          <div class="action">
            <ion-button @click="() => clearItem(items.indexOf(item))">
              {{ dictionary.btnClear }}
            </ion-button>
            <ion-button @click="openEditModal(item, index)">
              {{ dictionary.btnEdit }}
            </ion-button>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <template #footer>
      <ion-button
        :disabled="!canSendItems()"
        @click="submit"
      >
        {{ dictionary.btnConfirmAndSend }}
      </ion-button>
    </template>

    <ion-loading
      :message="dictionary.pageListItemsSending"
      :is-open="loading"
    />
    <ion-loading
      :message="dictionary.pageListItemsLoading"
      :is-open="fetching"
    />
  </layout>
</template>

<style>
.listpage-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.listpage-headerinfo{
  display: flex;
  justify-content: space-between;
}
.listpage-counter {
  display: flex;
}
.listpage-item {
  width: 100%;
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px 10px;
  border-radius: 6px;
}
.listpage-item .action {
  display: flex;
  justify-content: end;
}
.listpage-item > * {
  padding: 2px;
}
</style>