<script setup>
import {Modal, FormInput} from '@/components/atoms'
import MinusPlus from '@/components/MinusPlus.vue';
import {useController} from './useController'
import './types'

/** @type {EditItemModalProps} */
const props = defineProps({
  place: String,
  count: Number,
  onConfirm: Function
});

const {
  dictionary,
  storageCode,
  count,
  confirm,
  incrementCount,
  decreaseCount
} = useController(props)

</script>

<template>
  <modal
    :title="dictionary.modalEditCount"
    :on-confirm="()=>confirm()"
  >
    <form-input
      id="product-place"
      class="input-place"
      :capitalize="true"
      :value="storageCode"
      @update="(v) => (storageCode = v)"
    >
      {{ dictionary.pageStoragePlaceCode }}
    </form-input>

    <form-input
      id="edit-count-modal-id"
      class="input-count"
      :min="1"
      :value="count"
      type="number"
      @update="(v)=>count = parseInt(v)"
    >
      {{ dictionary.pageStorageCount }}
    </form-input>
    <div class="minusplus-wrapper">
      <minus-plus
        @decrement="decreaseCount"
        @increment="incrementCount"
      />
    </div>
  </modal>
</template>

<style scoped>
.input-place {
  margin-bottom: 6rem;
}
.input-count {
  width: 12rem;
  margin: auto;
}
.minusplus-wrapper {
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
</style>