<script setup>
import { focusInp } from '@/libs/Focus';
import Layout from '@/Layout.vue';
import {FormInput} from '@/components/atoms'
import { IonButton, IonLoading } from '@ionic/vue';
import LabeledData from '@/components/LabeledData.vue';
import {pageController} from './pageController'
import {env} from '@/libs'
import {inputIdCode, inputIdPlace} from './config.js'

const {
  dictionary,
  worker,
  lastScanned,
  totalCount,
  storageCode,
  productCode,
  loading,
  isNewDocument,
  save,
  goBack,
  findMatchMask
} = pageController()

</script>

<template>
  <layout>
    <template #functionalButton>
      <ion-button @click="goBack()">
        {{ dictionary.btnBack }}
      </ion-button>
    </template>
    <template #title>
      {{ dictionary.pageTitleStorage }}
    </template>

    <div>
      <labeled-data :label="dictionary.pageLoginUserCode">
        {{ worker.userCode ?? '' }}
      </labeled-data>
      <labeled-data :label="dictionary.pageLoginDocNumber">
        {{ isNewDocument ? dictionary.newDocument :(worker.docNumber ?? '') }}
      </labeled-data>
      <labeled-data
        v-if="!isNewDocument"
        :label="dictionary.pageStorageLastScannedCount"
      >
        {{ lastScanned.productCode ?? '-' }}, {{ lastScanned.scanned ?? '-' }}/{{
          lastScanned.planToScan ?? '-'
        }}{{ dictionary.pageStorageCountSuffix }}
      </labeled-data>
      <labeled-data
        v-if="isNewDocument"
        :label="dictionary.pageStorageLastScannedCount"
      >
        {{ lastScanned.productCode ?? '-' }}, {{ lastScanned.scanned ?? '-' }}{{ dictionary.pageStorageCountSuffix }}
      </labeled-data>
      <labeled-data
        font-size="lg"
        :label="dictionary.pageListCount"
      >
        {{ totalCount }}
      </labeled-data>
    </div>

    <form-input
      :id="inputIdPlace"
      :autofocus="true"
      :capitalize="true"
      :value="storageCode"
      :regex="env.MASK_ITEM_PLACE"
      @update="(v) => (storageCode = v)"
      @submit="() => focusInp('product-code')"
      @report-unmatched-value="(v)=>findMatchMask(v)"
    >
      {{ dictionary.pageStoragePlaceCode }}
    </form-input>

    <form-input
      :id="inputIdCode"
      :capitalize="true"
      :value="productCode"
      :regex="env.MASK_ITEM_CODE"
      @update="(v) => (productCode = v)"
      @submit="save"
      @report-unmatched-value="(v)=>findMatchMask(v)"
    >
      {{ dictionary.pageStorageProductCode }}
    </form-input>

    <ion-button
      class="btn-save"
      @click="save"
    >
      {{ dictionary.btnSave }}
    </ion-button>

    <ion-loading
      :message="dictionary.pageStorageSaving"
      :is-open="loading"
    />

    <template #footer>
      <ion-button @click="goBack()">
        {{ dictionary.btnList }}
      </ion-button>
    </template>
  </layout>
</template>

<style scoped>
.btn-save {
  margin-top: 20px;
  width: 100%;
}
</style>