<script setup>
const {current, total} = defineProps({
  current: Number,
  total: Number
});
</script>

<template>
  <span
    v-if="total>0"
    class="wrapper"
  >{{ current }} / {{ total }}</span>
  <span
    v-if="total<=0"
    class="wrapper"
  >{{ current }}</span>
</template>

<style scoped>
  .wrapper{
    margin-left: 1rem;
    margin-right: 1rem;
  }
</style>