<template>
  <div :class="`labeled-data ${fontStyle}`">
    <div class="label">
      {{ props.label }}:
    </div>
    <slot />
  </div>
</template>

<script setup>
const props = defineProps({
  label: String,
  fontSize: String
});

const fontStyle = `label-${props.fontSize ?? 'sm'}`;
</script>

<style scoped>
.labeled-data {
  display: flex;
  align-items: start;
  gap: 4px;
  margin-top: 3px;
  flex-wrap: wrap;
}
.label {
  font-weight: 600;
  font-size: inherit;
}
.label-sm {
  font-size: 0.8rem;
}
.label-md {
  font-size: 0.95rem;
}
.label-lg {
  font-size: 1.1rem;
}
</style>