<template>
  <div class="buttons">
    <ion-button @click="$emit('decrement')">
      -
    </ion-button>
    <ion-button @click="$emit('increment')">
      +
    </ion-button>
  </div>
</template>
<script setup>
import { IonButton } from '@ionic/vue';

defineEmits(['decrement', 'increment']);
</script>
<style scoped>
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.buttons > * {
  width: 40%;
}
.buttons > ion-button {
  font-size: 1.4rem !important;
}
</style>