*{
    font-family: monospace !important;
    font-size: 0.9rem;
}

body {
  background-color: var(--ion-color-light);
}

ion-toolbar {
    --padding-start: 20px;
    --padding-end: 20px;
}

ion-item{
  --padding-top: 10px;
  --inner-padding-bottom: 10px;
}

ion-content{
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 21px;
}

ion-button{
    --border-width: 1px;
    --border-radius: 7px;
    --border-style: solid;
    --background: var(--ion-color-tertiary);
    --border-color: var(--ion-color-tertiary);
    text-transform: none;
    color: var(--ion-color-tertiary-contrast);
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    font-size: 0.9rem;
}

ion-input input{
    border: 1px solid var(--ion-color-primary) !important;
    padding: 0px 10px !important;
    border-radius: 7px;
    color: var(--ion-color-primary) !important;
    padding: 10px !important;
}
.input-highlight{ display: none;}

ion-select{
    border: 1px solid var(--ion-color-primary);
    border-radius: 7px;
    color: var(--ion-color-primary) !important;
    padding: 0px 10px !important;
}

.danger{
    background-color: var(--ion-color-danger-tint);
}