<script setup>
import { IonFooter, IonPage, IonContent, IonHeader } from '@ionic/vue';
import {useLayout} from './Layout.js'

const {hasFooter, dictionary} = useLayout()
</script>

<template>
  <ion-page>
    <ion-header>
      <slot name="functionalButton" />
      <slot name="appTitle">
        {{ dictionary.appTitle }}<br>
      </slot>
      <slot name="title" />
      <slot name="rightTopButton" />
    </ion-header>
    <ion-content>
      <slot />
    </ion-content>
    <ion-footer v-if="hasFooter">
      <slot name="footer" />
    </ion-footer>
  </ion-page>
</template>

<style>
ion-header {
  height: 60px;
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

ion-header ion-button {
  --border-color: var(--ion-color-primary-contrast) !important;
  color: var(--ion-color-primary-contrast);
  --background: transparent;
  --padding-top: 4px;
  --padding-bottom: 4px;
  --padding-start: 6px;
  --padding-end: 6px;
  font-size: large;
}

ion-footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
</style>