<template>
  <ion-page>
    <ion-tabs>
      <ion-router-outlet />
      <ion-tab-bar slot="bottom">
        <ion-tab-button
          tab="storage"
          href="/storage"
        >
          <ion-icon :icon="barcodeOutline" />
          <ion-label>{{ dictionary.pageTitleStorage }}</ion-label>
        </ion-tab-button>

        <ion-tab-button
          tab="docDetails"
          href="/verification"
        >
          <ion-icon :icon="documentTextOutline" />
          <ion-label>{{ dictionary.pageTitleDocDetails }}</ion-label>
        </ion-tab-button>

        <ion-tab-button
          tab="settings"
          href="/settings"
        >
          <ion-icon :icon="settings" />
          <ion-label>{{ dictionary.pageTitleSettings }}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script setup>
import {
  IonPage,
  IonTabs,
  IonRouterOutlet,
  IonTabBar,
  IonTabButton,
  IonLabel,
  IonIcon
} from '@ionic/vue';
import { useTranslator } from '@/libs/Translator';
import { barcodeOutline, documentTextOutline, settings } from 'ionicons/icons';

const { dictionary } = useTranslator();
</script>