<script setup>
import {
  IonButton,
  IonHeader,
  IonFooter,
  IonContent,
  IonToolbar,
  IonTitle,
} from '@ionic/vue';
import {useController} from './useController.js'

const {
  title,
  onConfirm
} = defineProps({
  title: String,
  onConfirm: Function
})

const {
  dictionary,
  cancel,
  confirm
} = useController(onConfirm)
</script>

<template>
  <ion-header>
    <ion-title>{{ title }}</ion-title>
  </ion-header>
  <ion-content class="ion-padding">
    <slot />
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-button
        slot="start"
        @click="cancel"
      >
        {{ dictionary.btnCancel }}
      </ion-button>
      <ion-button
        slot="end"
        :strong="true"
        @click="confirm"
      >
        {{ dictionary.btnConfirm }}
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</template>