<script setup>
import {LabeledData} from '@/components';
import {FormInput} from '@/components/atoms';
import Layout from '@/Layout.vue';
import {
  IonLoading,
  IonButton,
  IonList,
  IonItem,
} from '@ionic/vue';
import {pageController} from './pageController.js';

const {
  dictionary,
  loading,
  userCode,
  savedUserCode,
  docs,
  logout,
  submit,
  select,
  createNewDocument
} = pageController();
</script>

<template>
  <layout>
    <template #title>
      {{ dictionary.pageTitleList }}
    </template>
    <div class="docslist-login">
      <form-input
        id="user-code"
        :value="userCode"
        :capitalize="true"
        @update="(v) => v ? (userCode = v) : logout()"
        @submit="submit"
      >
        {{ dictionary.pageLoginUserCode }}
      </form-input>
      <div class="docslist-login-button">
        <ion-button
          v-if="!docs.length"
          :disabled="!userCode"
          @click="submit"
        >
          {{ dictionary.btnFetch }}
        </ion-button>
        <ion-button
          v-if="!!docs.length"
          @click="logout"
        >
          {{ dictionary.btnClear }}
        </ion-button>
      </div>
    </div>

    <div
      v-if="!!docs.length"
      class="docslist-logininfo"
    >
      <span>
        {{ dictionary.pageLoginUserCode }}:
      </span>
      <span>
        {{ savedUserCode }}
      </span>
    </div>
    <ion-list lines="inset">
      <ion-item
        v-for="(doc) in docs"
        :key="doc.document"
      >
        <div class="doclist-item">
          <labeled-data :label="dictionary.pageDoclistItemDate">
            {{ doc.date }}
          </labeled-data>
          <labeled-data :label="dictionary.pageDoclistItemNumber">
            {{ doc.document }}
          </labeled-data>
          <labeled-data :label="dictionary.pageDoclistItemZone">
            {{ doc.zone }}
          </labeled-data>
          <labeled-data :label="dictionary.pageDoclistItemQty">
            {{ doc.quantity }}
          </labeled-data>
          <labeled-data :label="dictionary.pageDoclistItemDesc">
            {{ doc.description }}
          </labeled-data>
          <div class="action">
            <ion-button @click="()=>select(doc.document)">
              {{ dictionary.btnSelect }}
            </ion-button>
          </div>          
        </div>
      </ion-item>
    </ion-list>

    <template #footer>
      <ion-button
        :disabled="!userCode"
        @click="createNewDocument"
      >
        {{ dictionary.pageDocListNewEmptyDocument }}
      </ion-button>
    </template>

    <ion-loading
      :message="dictionary.pageListItemsSending"
      :is-open="loading"
    />
  </layout>
</template>

<style>
.docslist-login{
  display: grid;
  grid-template-columns: 1fr 7rem;
}
.docslist-login-button{
  margin: auto 0px 0px auto;
  height: 3rem;
}
.docslist-logininfo{
  display: flex;
  font-weight: 600;
  padding: 10px 15px;
  gap: 12px;
}
.doclist-item{
  display: block;
  border-radius: 6px;
  width: 100%;
}
.doclist-item .action {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
</style>
