<script setup>
import { IonInput } from '@ionic/vue';
import {useController} from './useController'
import {FormInputProps, FormInputEvents} from './type'

const props = defineProps(FormInputProps);
/** @type {import('./type').FormInputEventsType} */
const emit = defineEmits(FormInputEvents);

const {
  onInputChange,
  submit
} = useController(props, emit)

const style = `${props.error ? 'ion-invalid ion-touched' : ''} ${props.class}`
</script>

<template>
  <div class="form-input">
    <ion-input
      :id="props.id"
      :value="props.value"
      :type="props.type"
      :autocapitalize="props.capitalize"
      :autofocus="autofocus"
      :clear-input="true"
      :class="style"
      :error-text="props.error"
      :min="props.min"
      :pattern="props.regex"
      enterkeyhint="enter"
      @ion-input="(e) => onInputChange(e.target.value)"
      @keyup.enter="submit"
    >
      <slot />
    </ion-input>
  </div>
</template>

<style scoped>
.form-input {
  margin-top: 15px
}
</style>