<script setup>
import {Modal, FormInput} from '@/components/atoms'
import {
  modalController
} from '@ionic/vue';
import {useController} from './useController'
import './types'

/** @type {ScanEmptyDocumentProps} */
const props = defineProps({
  submit: Function
});

const {
  dictionary,
  docNumber,
  docNumberInputId,
  onConfirm
} = useController(props)

</script>

<template>
  <modal
    :title="dictionary.scanEmptyDocumentTitle"
    :on-confirm="onConfirm"
  >
    <div class="wrapper">
      <form-input
        :id="docNumberInputId"
        :autofocus="true"
        :value="docNumber"
        :capitalize="true"
        @update="(v) => docNumber = v"
        @submit="() => {
          onConfirm()
          modalController.dismiss(null, 'confirm');
        }"
      >
        {{ dictionary.pageDocFormInput }}
      </form-input>
    </div>
  </modal>
</template>

<style scoped>
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
</style>